{% extends 'vault/base.html' %}
{% load staticfiles %}
{% block title %}External{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav">
        <li class="active"><a href="#">Account <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
      <!-- <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul> -->
    </div>
    <div class="col-sm-10">
      <h1 class="page-header">Account</h1>

      <h2 class="sub-header">My Accounts</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Account Number</th>
              <th><a href="{% url 'vault:generateAccountRequest' %}">Add account</a></th>
            </tr>
          </thead>
          <tbody>
          {% for account in accounts %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'vault:accountInfo' account.pk %}">{{ account }}</a></td>
              <td>&nbsp;</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
console.log(1);
{% for account in accounts %}
console.log({{account.pk | safe | escapejs}});
{% endfor %}
</script>
{% endblock %}