{% extends 'vault/accountBase.html' %}
{% load staticfiles %}
{% block nav %}
<h1>Transaction History</h1>
<hr>
<h3>Transaction Table</h3>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Transaction Date</th>
                  <th>To Account</th>
                  <th>Status</th>
                  <th>Amount</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for trans in result_trans%}
                <tr>
                  <td>{{trans.transaction_date}}</td>
                  <td>{{trans.to_account}}</td>
                  {% if trans.pending %}
                    <td>Pending</td>
                  {% else %}
                    <td>Complete</td>
                  {% endif %}
                  <td>{{trans.Amount}}</td>
                 </tr>
                {% endfor %}
              </tbody>
            </table>
</div>
<br><br><br>
{% endblock %}