<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SBS</title>

</head>
<body>
    <div>
        <h1>Secure Banking System</h1>
    </div>
    <div>
        <div>
            <a href="#">View Account Information</a>
        </div>
            <div>
                Transactions
                <div>Account Type: {{ account.cust_account_type }}</div>
                <div>Balance: {{ account.cust_balance }}</div>
                <div> <a href="{% url 'vault:vaultDebit' account.pk%}">Debit Funds</a></div>
                <div><a href="{% url 'vault:vaultCredit' account.pk%}">Credit Funds</a></div>
                <div><a href="{% url 'vault:transferfunds' account.pk %}">Transfer Funds</a></div>
                <div><a href="#">Payments</a></div>
            </div>
            <div>
                <a href="#">View Statements</a>
            </div>
            <div>
                <a href="#">Help and Contact</a>
            </div>

    </div>
<a href="/logout">Logout</a>
</body>
</html>